/*

Orginal Style from https://github.com/sindresorhus/hyper-snazzy

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
  color: #f1f1f0;
}

.hljs-comment,
.hljs-quote {
  color: #78787e;
}

/* Snazzy Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #5af78e;
}

/* Snazzy Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #57c7ff;
}

/* Snazzy Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #9aedfe;
}

/* Snazzy Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #f3f99d;
}

/* Snazzy Magenta */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #ff6ac1;
}

/* Snazzy Red */
.hljs-built_in,
.hljs-deletion {
  color: #ff5c57;
}

.hljs-formula {
  background: #262626;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}